amqp<2.6,>=2.5.2
celery==4.4.0
coreapi==2.3.3
coreschema==0.0.4
Django==3.1.6
django-cors-headers==2.3.0
django-environ==0.4.5
django-filter==2.2.0
django-rest-auth==0.9.5
djangorestframework==3.10.3
djangorestframework-gis==0.3
djangorestframework-simplejwt==3.2.3
geographiclib==1.49
kombu==4.6.7
#numpy==1.15.2
paho-mqtt==1.4.0
#psycopg2-binary
psycopg2
ptvsd==3.0.0
pygeoif==0.7
Pygments==2.2.0
python-dateutil==2.7.3
pytz==2018.5
redis==3.2.1
python-redis-lock[django]
repoze.lru==0.7
requests==2.20.0
stevedore==1.29.0
translationstring==1.3
uritemplate==3.0.0
urllib3==1.24.2
virtualenv==16.0.0
virtualenv-clone==0.3.0
virtualenvwrapper==4.8.2
zope.deprecation==4.3.0
zope.interface==4.5.0
django-redis
django_celery_beat==2.0.0
#gdal==2.4.0